@using TErm.Models
@model List<ProjectModel>
@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Issues table</h2>

    <table>
        <tr>    
            <th>ID</th>      
            <th>Title</th>
            <th>Description</th>
            <th>Estimate time</th>
            <th>Spent time</th>
        </tr>
        @foreach (ProjectModel project in Model)
        {
            <tr>
                <td>@project.id</td>
                @foreach (IssuesModel issue in project.issuesList)
                {
                    <tr>
                        <td></td>
                        <td>@issue.title</td>
                        <td>@issue.description</td>
                        <td>@issue.time_stats.human_time_estimate</td>
                        <td>@issue.time_stats.human_total_time_spent</td>                        
                    </tr>
                }
            </tr>
        }
    </table>
</div>